/* titulos */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap");
/* font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */

/* menu */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap");
/* font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal; */

/* subtitulo */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap");
/* font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */

/* parrafos */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap");
/* font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

/* ENCLACES */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap");
/* font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* HEADER */
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
header {
  background-color: #343a40ba;
  padding: 5px 10px;
}

/* nav header */
.padre-div-header {
  display: flex;
  justify-content: space-between;
}
/* ul de div en header */
.padre-lista {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* div del header */
.hijos-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
/* div del header del logo */
.hijos-nav-logo {
  display: flex;
  justify-content: right;
  width: 10%;
  margin-right: 10px;
}
.hijos-nav-buscador {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 40%;
  margin-right: 10px;
}
/* li de los ul del header */
.hijos-lista {
  margin: 0px 10px;
}
/* a de los li */
.link-menu {
  color: white;
  font-size: 20px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.link-menu:hover {
  color: #7a7a7a;
}

/* logo header */
.logo {
  border-radius: 100%;
  height: 80px;
  filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
  margin-right: 20px;
}
/* backgrounds*/
/* Index */
.bodyhome,
.bodyreceta,
.bodycategory,
.bodycategories,
.bodyresult,
.bodylogin,
.bodyregister {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bodyhome {
  background-image: url(../img/fondo.jpg);
}

/* receta */
.bodyreceta {
  background-image: url(../img/cocinando.jpg);
}
/* category */
.bodycategory {
  background-image: url(../img/categories.jpg);
}
/* categories */
.bodycategories {
  background-image: url(../img/categora.jpg);
}
/* serch-result */
.bodyresult {
  background-image: url(../img/result.jpg);
}
/* login */
.bodylogin {
  background-image: url(../img/login.jpg);
}
/* register */
.bodyregister {
  background-image: url(../img/register.jpg);
}
/* BODY*/
/* div caja transparente */
.frame1 {
  text-align: center;
  background-color: #343a40ba;
  padding: 190px 0px;
}
/* div caja transparente */
.frame1-register {
  text-align: center;
  background-color: #343a40ba;
  padding: 190px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* div formulario */
.caja-formulario {
  background-color: #343a40d2;
  border: gray 0.3px solid;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0px;
}
.caja-formulario:hover {
  border: white 0.3px solid;
}
/* H1 general */

.titulo1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  color: white;
  width: 100%;
}
/* subtitulos general */
.titulo3,
.titulo3f {
  width: 100%;
  font-size: 50px;
  color: white;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* h3 en receta js */
.titulo4 {
  width: 100%;
  font-size: 20px;
  color: white;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* div gris en general */
.frame2 {
  background-color: #343a40;
  width: 95%;
}
/* Div en index para lograr efecto transparente en query celular */
.frame3 {
  text-align: center;
  width: 100%;
  background-color: #343a40ba;
  display: flex;
  justify-content: center;
}

/* js */
/* section del article */
.padre-recetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0px;
}
/* section de receta html */
.padre-recetas-detalle {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
}
.padre-tags {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tags {
  border: #969394 3px solid;
  background-color: #94979985;
  height: 30px;
  width: 20%;
  text-align: center;
  margin: 9px;
  margin-top: 13px;
}
.tags:hover{
  border: #b3b3b3 3px solid;
}
.tagtext {
  color: white;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: small;
}
/* Articles */
/* Articles index */
.receta {
  width: 18%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: gray 0.3px solid;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
}
.receta:hover {
  border: white 2px solid;
}
/* Articles de receta.html */
.receta-detalle {
  width: 47%;
  border: gray 0.3px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.receta-detalle:hover {
  border: white 2px solid;
}
/* imagen en artcle */
.imagen-receta {
  width: 100%;
  filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
}
/* titulo nombre en article */
.titulo {
  color: white;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* p dificultad en article */
.dificultad {
  width: 100%;
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* detalle en article <a>*/
.detalle {
  background-color: #817b7c;
  color: white;
  margin: 10px 0px;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

}
.logindetalle {
  color: white;
  margin: 10px 0px;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-decoration: underline;
}
/* Pasar mouse, boton detalle ehn index.html se ponga mas oscuro */
/* .detalle:hover {
  background-color: #ff0033;
} */
/* div del boton cargar mas */
.interactivo {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
/* boton volver a home en search results */
.interactivo-ser {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  display: none;
  width: 100%;
}
.link-ser {
  display: flex;
  justify-content: center;
}

/* h3 cargar mas */
.mas {
  color: white;
  font-size: 60px;
  font-weight: 700;
  background-color: #969394;
  width: 27%;
  border-radius: 10px;
}
.mas:hover {
  background-color: #b3b3b3;
}
/* Footer */
footer {
  background-color: #343a40;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* divs del footer */
.footer-hijos {
  text-align: center;
  border: gray 0.3px solid;
  margin-top: 20px;
  border-radius: 5px;
  width: 30%;
  padding: 10px;
}
.footer-hijos:hover {
  border: white 0.3px solid;
}
/* parrafos en general */
.parrafo,
.parrafod,
.parrafor {
  color: #adb5bd;
  margin-top: 7px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.parrafo:hover {
  color: #ffffff;
}
.parrafod:hover {
  color: #ffffff;
}
.parrafor:hover {
  color: #ffffff;
}
/* div de la marca copyright */
.copy {
  width: 100%;
  background-color: #343a40;
  text-align: center;
  margin-top: 10px;
}
/* iframe del mapa en footer */
.mapa {
  width: 100%;
  margin-top: 20px;
  height: 30vh;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
}
/* cajas rosas de contacto dentro de divs en footer */

.caja-contacto:hover,
.caja-redes:hover,
.caja-mapa:hover {
  background-color: #ff0033;
}
/* cajas rosas de redes dentro de divs en footer */
.caja-redes,
.caja-mapa,
.caja-contacto {
  margin: 15px 0px;
  background-color: #ff214da1;
  border-radius: 5px;
  padding: 15px 0px;
  display: flex;
  flex-wrap: wrap;
}

/* caja rosa de mapa dentro de divs en footer */

/* Register */
/* lebels */
.labels {
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* divs form */
.form-r-1 {
  width: 60%;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
/* divs form */
.form-r-2 {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
/* inputs */
.inputs {
  padding: 10px;
  margin: 0px 10px;
  border-radius: 5px;
  border: gray 0.3px solid;
  background-color: #343a40d2;
  color: white;
  width: 100%;
}
/* input del buscador */
#buscador {
  border-radius: 5px;
  border: gray 0.3px solid;
  background-color: #343a40d2;
  color: white;
  width: 60%;
  height: 25px;
}
/* Formulario del buscador */
#formulario-buscador {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
}
/* id del boton de buscar */
#boton-buscador {
  width: 35%;
  background-color: #343a40;
  color: white;
  height: 25px;
}
/* mensaje de error rojo */
.error {
  color: rgb(255, 42, 42);
  margin-top: 7px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* div feedback */
.feedback,
.feedbackr1,
.feedbackr2 {
  display: none;
  width: 100%;
}
/* titulo h3 en formulario*/
.titulo3r {
  width: 100%;
  font-size: 50px;
  color: white;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
/* input checkbox en formulario */
.checkbox-r {
  margin: 0px 10px;
  width: 20px;
  height: 20px;
}
/* form */
.registro-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
/* div de boton enviar */
.form-r-3 {
  width: 60%;
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* boton de enviar */
.boton-enviar {
  width: 50%;
  background-color: #343a40;
  color: white;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boton-enviar:hover {
  background-color: #7a7a7a;
}

/* Ipads */
@media (max-width: 768px) {
  .parrafo {
    font-size: 20px;
  }
  .caja-formulario {
    width: 80%;
  }
  #titulo1destacado {
    font-size: 90px;
    padding: 0px 5px;
  }
  #titulo3destacado {
    font-size: 40px;
  }
  .parrafod {
    font-size: 13px;
  }
  #formulario-buscador {
    width: 100%;
  }
  .mas {
    font-size: 40px;
    width: 35%;
  }
  .hijos-nav {
    width: 60%;
  }
  .hijos-nav-logo {
    width: 40%;
  }
  .receta {
    width: 45%;
  }
  .footer-hijos {
    width: 100%;
  }
  .titulo3f {
    text-decoration: underline;
  }
  .caja-contacto,
  .caja-redes,
  .caja-mapa {
    width: 70%;
  }
  .footer-hijos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .titulo {
    font-size: 25px;
  }
  .dificultad {
    font-size: 25px;
  }
  .detalle {
    font-size: 25px;
  }
  .mapa {
    height: 60vh;
    width: 80%;
  }
  .registro-form {
    width: 100%;
  }
  .form-r-1,
  .form-r-2,
  .form-r-3 {
    width: 80%;
  }

  .boton-enviar {
    width: 70%;
  }
  .caja-formulario {
    width: 80%;
  }
  .titulo1{
    font-size: 100px;
  }
}
/* Celulares */
@media (max-width: 480px) {
  .frame2 {
    background-color: transparent;
  }
  .titulo1 {
    font-size: 60px;
  }
  .tags{
    width: 40%;
  }
  .receta {
    background-color: #343a40;
  }
  .padre-recetas-detalle {
    flex-wrap: wrap;
  }
  .receta-detalle {
    width: 100%;
    margin-top: 20px;
    padding: 20px 5px;
    background-color: #343a40;
  }
  .padre-div-header {
    flex-wrap: wrap;
  }
  .hijos-nav {
    width: 100%;
    order: 2;
  }
  .hijos-nav-buscador {
    width: 100%;
    justify-content: center;
    order: 3;
  }
  #formulario-buscador {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #buscador {
    width: 70%;
  }
  #boton-buscador {
    width: 29%;
  }
  .hijos-nav-logo {
    width: 100%;
    justify-content: center;
    order: 1;
  }

  header {
    background-color: #343a40ba;
  }
  .hijos-lista {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #343a40;
    margin: 10px 0px;
    align-items: center;
    height: 40px;
  }
  .padre-lista {
    flex-wrap: wrap;
    justify-content: center;
  }
  .receta {
    width: 100%;
  }
  .mas {
    width: 50%;
    font-size: 30px;
  }
  .caja-contacto,
  .caja-redes,
  .caja-mapa {
    width: 90%;
  }

  .mapa {
    width: 95%;
  }
  #titulo1destacado {
    font-size: 70px;
  }
  #titulo3destacado {
    font-size: 35px;
  }
  .caja-formulario {
    width: 90%;
  }
  .titulo3{
    font-size: 40px;
  }
}
