/* titulos */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap");
/* font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */

/* menu */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap");
/* font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal; */

/* subtitulo */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap");
/* font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */

/* parrafos */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Shadows+Into+Light&display=swap");
/* font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; */

/* ENCLACES */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&display=swap");
/* font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* HEADER */
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
header {
  background-color: #343a40ba;
  padding: 5px 10px;
}

/* nav header */
.padre-div-header {
  display: flex;
  justify-content: space-between;
}
/* ul de div en header */
.padre-lista {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
/* div del header */
.hijos-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}
.hijos-nav-logo {
  display: flex;
  justify-content: right;
  width: 50%;
  margin-right: 10px;
}
/* li de los ul del header */
.hijos-lista {
  margin: 0px 10px;
}
/* a de los li */
.link-menu {
  color: white;
  font-size: 20px;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.link-menu:hover {
  color: #7a7a7a;
}

/* logo header */
.logo {
  border-radius: 100%;
  height: 80px;
  filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
  margin-right: 20px;
}
/* background home */
.bodyhome {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bodyreceta {
  background-image: url(../img/cocinando.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bodycategory {
  background-image: url(../img/categora.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bodycategories {
  background-image: url(../img/categories.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bodyresult {
  background-image: url(../img/result.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bodylogin {
  background-image: url(../img/login.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.bodyregister {
  background-image: url(../img/register.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* BODY */
.frame1 {
  text-align: center;
  background-color: #343a40ba;
  padding: 190px 0px;
}
.frame1-register {
  text-align: center;
  background-color: #343a40ba;
  padding: 190px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.caja-formulario {
  background-color: #343a40d2;
  border: gray 0.3px solid;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 100px 0px;
}
.caja-formulario:hover {
  border: white 0.3px solid;
}
.titulo1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 150px;
  color: white;
  width: 100%;
}
.titulo3 {
  width: 100%;
  font-size: 50px;
  color: white;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.titulo4 {
  width: 100%;
  font-size: 20px;
  color: white;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.titulo3f {
  width: 100%;
  font-size: 50px;
  color: white;
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.frame2 {
  background-color: #343a40;
  width: 95%;
}

.frame3 {
  text-align: center;
  width: 100%;
  background-color: #343a40ba;
  display: flex;
  justify-content: center;
}

/* js */
/* section del article */
.padre-recetas {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 30px 0px;
}
.padre-recetas-detalle {
  display: flex;
  justify-content: space-around;
  padding: 30px 0px;
}
/* Articles */
.receta {
  width: 18%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: gray 0.3px solid;
  margin-top: 30px;
  border-radius: 5px;
  text-align: center;
}
.receta:hover {
  border: white 0.3px solid;
}
.receta-detalle {
  width: 47%;
  border: gray 0.3px solid;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.receta-detalle:hover {
  border: white 0.3px solid;
}
/* imagen en artcle */
.imagen-receta {
  width: 100%;
  filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
}
/* titulo nombre en article */
.titulo {
  color: white;
  width: 100%;
  border-radius: 5px;
  margin: 10px 0px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* p dificultad en article */
.dificultad {
  width: 100%;
  color: white;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
/* detalle en article */
.detalle {
  background-color: #ff214f;
  color: white;
  margin: 10px 0px;
  font-size: 20px;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
/* .detalle:hover {
  background-color: #ff0033;
} */
.interactivo {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
/* boton cargar mas */
.mas {
  color: white;
  font-size: 60px;
  font-weight: 700;
  background-color: #ff214f;
  width: 27%;
  border-radius: 10px;
}
.mas:hover {
  background-color: #ff0033;
}
footer {
  background-color: #343a40;
  padding: 10px 0px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer-hijos {
  text-align: center;
  border: gray 0.3px solid;
  margin-top: 20px;
  border-radius: 5px;
  width: 30%;
  padding: 10px;
}
.footer-hijos:hover {
  border: white 0.3px solid;
}
.parrafo {
  color: #adb5bd;
  margin-top: 7px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.parrafo:hover {
  color: #ffffff;
}
.parrafod {
  color: #adb5bd;
  margin-top: 7px;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.parrafod:hover {
  color: #ffffff;
}
.parrafor {
  color: #adb5bd;
  margin-top: 7px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.parrafor:hover {
  color: #ffffff;
}
.copy {
  width: 100%;
  background-color: #343a40;
  text-align: center;
  margin-top: 10px;
}
.mapa {
  width: 100%;
  margin-top: 20px;
  height: 30vh;
  border-radius: 5px;
  filter: drop-shadow(2px 2px 4px rgb(0,  0,  0));
}
/* Ipads */
@media (max-width: 768px) {
  .parrafo {
    font-size: 20px;
  }
  .caja-formulario {
    width: 80%;
  }
  #titulo1destacado {
    font-size: 50px;
  }
  #titulo3destacado {
    font-size: 30px;
  }
  .parrafod {
    font-size: 13px;
  }
  .mas {
    font-size: 40px;
    width: 35%;
  }
  .hijos-nav {
    width: 60%;
  }
  .hijos-nav-logo {
    width: 40%;
  }
  .receta {
    width: 45%;
  }
  .footer-hijos {
    width: 100%;
  }
  .titulo3f {
    text-decoration: underline;
  }
  .caja-contacto {
    width: 55%;
  }
  .caja-redes {
    width: 55%;
  }
  .caja-mapa {
    width: 55%;
  }
  .footer-hijos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .titulo {
    font-size: 25px;
  }
  .dificultad {
    font-size: 25px;
  }
  .detalle {
    font-size: 25px;
  }
}
/* Celulares */
@media (max-width: 480px) {
  .frame2 {
    background-color: transparent;
  }
  .titulo1 {
    font-size: 60px;
  }
  .receta {
    background-color: #343a40;
  }
  .padre-recetas-detalle {
    flex-wrap: wrap;
  }
  .receta-detalle {
    width: 100%;
    margin-top: 20px;
    background-color: #343a40;
  }
  .padre-div-header {
    flex-wrap: wrap;
  }
  .hijos-nav {
    width: 100%;
    order: 2;
  }
  .hijos-nav-logo {
    width: 100%;
    justify-content: center;
    order: 1;
  }

  header {
    background-color: #343a40ba;
  }
  .hijos-lista {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #343a40;
    margin: 10px 0px;
    align-items: center;
    height: 40px;
  }
  .padre-lista {
    flex-wrap: wrap;
    justify-content: center;
  }
  .receta {
    width: 100%;
  }
  .mas {
    width: 50%;
    font-size: 30px;
  }
  .caja-contacto {
    width: 90%;
  }
  .caja-redes {
    width: 90%;
  }
  .caja-mapa {
    width: 90%;
  }
  .caja-formulario {
    width: 95%;
  }
}
